{% extends "CdoBlogBundle:Visitor/Page:layout.html.twig" %}

{% block container %}
    <div class="row">
        {% block page_content %}
        {% endblock page_content %}
    </div><!--  /.row -->
{% endblock container %}