{% extends "CdoSiteBundle:Admin:layout.html.twig" %}

{% block title %}
    Pages {{ parent() }}
{% endblock title %}

{% block heading %}
    <h1>Pages</h1>
{% endblock heading %}

{% block javascripts %}
    {{ parent() }}
    {{ tinymce_init() }}
{% endblock %}