{% extends "CdoMediaBundle:Admin/Image:layout.html.twig" %}

{% block image_content %}
    <div class="text-center">
        <img src="{{ asset(image.webPath) }}" alt="{{ image.alt }}" />
    </div><!-- /.text-center -->
    {% include "CdoMediaBundle:Admin/Image:form_update.html.twig" %}
{% endblock image_content %}