{% extends "CdoMediaBundle:Admin/Image:layout.html.twig" %}

{% block title %}
    Modifier l'image &laquo; {{ image.alt }} &raquo;
{% endblock title %}

{% block heading %}
    <h1>Modifier l'image &laquo; {{ image.alt }} &raquo</h1>
{% endblock heading %}

{% block image_content %}
    <div class="text-center">
        <img src="{{ asset(image.webPath) }}" alt="{{ image.alt }}" />
    </div><!-- /.text-center -->
    {% include "CdoMediaBundle:Admin/Image:form_update.html.twig" %}
{% endblock image_content %}