{% extends "CdoMediaBundle:Admin/Image:layout.html.twig" %}

{% block title %}
    Ajouter une image
{% endblock title %}

{% block heading %}
    <h1>Ajouter une image</h1>
{% endblock heading %}

{% block image_content %}
    {% include "CdoMediaBundle:Admin/Image:form_upload.html.twig" %}
{% endblock image_content %}