{% extends "CdoBlogBundle:Admin/Page:layout.html.twig" %}

{% block title %}
    Ajouter une page
{% endblock title %}

{% block heading %}
    <h1>Ajouter une page</h1>
{% endblock heading %}

{% block innercontent %}
    {% include "CdoBlogBundle:Admin/Page:form_create.html.twig" %}
{% endblock innercontent %}