{% extends "CdoBlogBundle:Admin:layout.html.twig" %}

{% block title %}
    Editer la page &laquo {{ page.title }} &raquo
{% endblock title %}

{% block heading %}
    <h1>Editer la page &laquo {{ page.title }} &raquo</h1>
{% endblock heading %}

{% block innercontent %}
    {% include "CdoBlogBundle:Admin/Page:form_update.html.twig" %}
{% endblock innercontent %}