<div class="well text-center">
    <h2>Admin</h2>
    <a href="{{ path('ptm_site_admin_fixtures_unlink') }}" class="btn btn-default btn-lg">Délier les entités</a>
    <a href="{{ path('ptm_site_admin_fixtures_load') }}" class="btn btn-default btn-lg">Générer les fichiers</a>
</div><!-- /.well -->
