{% extends "CdoSiteBundle:Admin/Styles:layout.html.twig" %}

{% block innercontent %}
    <h2>Contenu</h2>
    {% include "CdoSiteBundle:Admin/Styles:form_content.html.twig" %}
{% endblock innercontent %}