{% extends "CdoSiteBundle:Admin/Styles:layout.html.twig" %}

{% block innercontent %}
    <h2>Pied de page</h2>
    {% include "CdoSiteBundle:Admin/Styles:form_footer.html.twig" %}
{% endblock innercontent %}