{% extends "CdoSiteBundle:Admin/Styles:layout.html.twig" %}

{% block innercontent %}
    <h2>En-tête</h2>
    {% include "CdoSiteBundle:Admin/Styles:form_header.html.twig" %}
{% endblock innercontent %}