{% extends "CdoSiteBundle:Admin/Styles:layout.html.twig" %}

{% block innercontent %}
    <h2>Menu principal</h2>
    {% include "CdoSiteBundle:Admin/Styles:form_navbar.html.twig" %}
{% endblock innercontent %}