{% extends "CdoSiteBundle:Admin/Styles:layout.html.twig" %}

{% block innercontent %}
    <h2>Feuille de style</h2>
    {% include "CdoSiteBundle:Admin/Styles:form_sheet.html.twig" %}
{% endblock innercontent %}