{% extends "CdoBlogBundle:Visitor/Blog:layout" ~ cdo_blog['placement'] ~ ".html.twig" %}

{% block title %}
    {{ cdo_blog['title'] }} {{ parent() }}
{% endblock title %}

{% block post_content %}
    <h1>{{ cdo_blog['title'] }}</h1>
    {% include "CdoBlogBundle:Visitor/Post:list.html.twig" %}
{% endblock post_content %}