{% extends "CdoBlogBundle:Visitor/Blog:layout.html.twig" %}

{% block container %}
    <div class="row">
        <div class="col-xs-3" id="blogmenu">
            <ul>
                <li><a href="{{ path('cdo_blog_visitor_post_index', {'subdomain': app.session.get('subdomain')}) }}">Toutes les catégories <span class="sr-only">Toutes les catégories</span></a></li>
                {% for category in category_collection %}
                    <li><a href="{{ path('cdo_blog_visitor_category_index', {'slug': category.slug, 'subdomain': app.session.get('subdomain')}) }}">{{ category.title }} <span class="sr-only">{{ category.title }}</span></a></li>
                {% endfor %}
            </ul>
        </div><!--  /.col-xs-3 -->
        <div class="col-xs-9" id="postcontent">
            {% block post_content %}
            {% endblock post_content %}
        </div><!--  /.col-xs-9 -->
    </div><!--  /.row -->
{% endblock container %}