{% extends "CdoBlogBundle:Visitor/Blog:layout.html.twig" %}

{% block container %}
    <div class="row">
        {% block post_content %}
        {% endblock post_content %}
    </div><!--  /.row -->
{% endblock container %}