{% extends "CdoSiteBundle:Admin:layout.html.twig" %}

{% block title %}
    Admin | {{ cdo_site['title'] }}
{% endblock title %}

{% block heading %}
    <h1>Tableau de bord</h1>
{% endblock heading %}