{% extends "CdoBlogBundle:Admin/Blog:layout.html.twig" %}

{% block title %}
    Ajouter une catégorie
{% endblock title %}

{% block heading %}
    <h1>Ajouter une catégorie</h1>
{% endblock heading %}

{% block innercontent %}
    {% include "CdoBlogBundle:Admin/Category:form_create.html.twig" %}
{% endblock innercontent %}