{% extends "CdoBlogBundle:Admin/Blog:layout.html.twig" %}

{% block title %}
    Editer la catégorie &laquo {{ category.title }} &raquo
{% endblock title %}

{% block heading %}
    <h1>Editer la catégorie &laquo {{ category.title }} &raquo</h1>
{% endblock heading %}

{% block innercontent %}
    {% include "CdoBlogBundle:Admin/Category:form_update.html.twig" %}
{% endblock innercontent %}