{% extends "CdoSiteBundle:Admin/Params:layout.html.twig" %}

{% block innercontent %}
    <h2>Général</h2>
    {% include "CdoSiteBundle:Admin/Params:form_site.html.twig" %}
{% endblock innercontent %}