{% extends "CdoSiteBundle:Admin/Params:layout.html.twig" %}

{% block innercontent %}
    <h2>Réseaux sociaux</h2>
    {% include "CdoSiteBundle:Admin/Params:form_social.html.twig" %}
{% endblock innercontent %}