{% extends "CdoBlogBundle:Visitor/Blog:layout" ~ cdo_blog['placement'] ~ ".html.twig" %}

{% block title %}
    {{ category.title }} {{ parent() }}
{% endblock title %}

{% block post_content %}
    <div class="col-xs-9" id="postcontent">
        <h1>{{ category.title }}</h1>
        {% include "CdoBlogBundle:Visitor/Post:list.html.twig" %}
    </div><!--  /.col-xs-9 -->
{% endblock post_content %}